*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
.container::before, .container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #161616;
  
}
.container{
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}
.container::before{
  
  top: -100px;
  left: -50px;
  background: linear-gradient(#f0f, #f00);
  clip-path: circle(20% at 25% 30%);
}
.container::after{
  top: 150px;
  left: 50px;
  background: linear-gradient(#e91e63, #2196f3);
  clip-path: circle(20% at 70% 65%);
}
.container .card-wrapper .content{
position: relative;
display: grid;
place-items: center; 
text-align: center;
z-index: 1;
min-width: 400px;
min-height: 325px;
box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); 
border-radius: 15px; 
border-top: 1px solid rgba(255, 255, 255, 0.5); 
border-left: 1px solid rgba(255, 255, 255, 0.5); 
background: rgba(255, 255, 255, 0.1) !important;
backdrop-filter: blur(5px);
overflow: hidden;

 }
 
@media screen and (max-width: 600px){
  .container .card-wrapper .content{
    position: relative;
    display: grid;
    place-items: center; 
    text-align: center;
    z-index: 1;
    min-width: 300px;
    min-height: 325px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(5px);
    overflow: hidden;
    
     }
}
@media screen and (max-width: 390px){
  .container .card-wrapper .content{
    position: relative;
    display: grid;
    place-items: center; 
    text-align: center;
    z-index: 1;
    min-width: 250px;
    min-height: 300px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5); 
    border-radius: 15px; 
    border-top: 1px solid rgba(255, 255, 255, 0.5); 
    border-left: 1px solid rgba(255, 255, 255, 0.5); 
    background: rgba(255, 255, 255, 0.1) !important;
    backdrop-filter: blur(5px);
    overflow: hidden;
    
     }
     
}
.container .card-wrapper .content h3 {
font-size: 1.8em;
line-height: 1.8em;
color: #fff;

}
h3{
  margin-top: 50px;
  
} 
.container .card-wrapper .content .input-group {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
  }
  
.container .card-wrapper .content  {
  display: inline-block;
  background: #fff;
  padding: 8px 20px; 
  margin-top: 15px; 
  color: #000;
  border-radius: 20px; text-decoration: none;
  font-weight: 500;
  }
  .form-control:focus {
    box-shadow: none;
    }
  .typing{
    text-shadow:1px 1px 10px #2196f3;
    position: relative;
    font-family: 'Secular One', sans-serif;
    font-style: normal;
    /* font-weight: 500; */
    color: #FFFFFF;
  }
  .card{
    position: relative;
    display: flex ;
    flex-direction: row ;
  }
  .card-img-top{
    width:50%;
    height: auto;
  }
  .spinner { 
    position: absolute;
    right: 50%;
    margin-top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
   }
    .spinner::before, .spinner:after{
    content: "";
    position: absolute;
    border-radius: inherit;
    }
    
    .spinner:before {
    width: 100%; height: 100%;
    background-image:linear-gradient(0deg, #ff00cc 0%, #333399 100%);
    animation: spin .5s infinite linear;
    }
    
    .spinner:after {
    width: 85%; height: 85%;
    background-color: #161616;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    }
    @keyframes spin { 
      to {
  transform: rotate(360deg);
      }
  }